@{
    ViewBag.Title = "SaveCashWarning";
    Layout = "~/Areas/CFMBranch/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home", new{Area = "Admin"})">Trang chủ</a></li>
    <li class="active">Cảnh báo lưu quỹ vượt hạn mức</li>
</ol>

<div class="container-fluid">
    <div class="alert alert-info">
        <div class="filter-bar" data-magellan-expedition="fixed">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group" id="divPO">
                        <label for="PoIdTemp2">Loại biểu mẫu báo cáo</label>
                        @Html.DropDownList("ListReportType", (IEnumerable<SelectListItem>)ViewBag.ListReportType, new { @class = "form-control", @onChange = "ReportCD_Process.ReportTypeChange(this)" })
                    </div>
                </div>
            </div>
            <div class="row" id="groupUnit" style="display:none;">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Đơn vị</label>
                        <input data-val="true" id="PoId" name="PoId" type="hidden" value="0">
                        <div class="input-group">
                            <input class="form-control" disabled="disabed" id="txtPoCode" name="PoCode" placeholder="Mã BC" readonly="readonly" style="width:75px;" type="text" value="">
                            <span class="input-group-btn" style="width:100%;">
                                <input class="form-control" id="txtPoName" name="txtPoName" placeholder="Tên bưu cục" readonly="readonly" style="border-left:none;" type="text" value="">
                            </span>
                            <span class="input-group-btn">
                                <a title="Chọn bưu cục" class="btn btn-pns" onclick="ReportCD_Process.ViewListPO('ReportCD_Process.func', '', '', '', 0, false, true, false, false, false)"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="date-picker-wrap">
                        <div class="form-group">
                            <label for="txtDateRangeOne">Từ ngày - Đến ngày</label>
                            <input class="form-control" name="from-date" id="txtDateRangeOne" placeholder="Từ ngày - Đến ngày" type="text" readonly="readonly">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="txtDateRangeOne">Trạng thái</label>
                        @Html.DropDownList("ListStatus", (IEnumerable<SelectListItem>)ViewBag.ListStatus, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-3">
                    <button id="search_key" onclick="ReportCD_Process.ReportPOManageGet('', 1)" name="search_key" class="btn btn-pns btn-cons mt17" type="button">
                        <i class="fa fa-fw fa-search"></i> Lọc dữ liệu
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="alert alert-info">
        <div class="filter-bar" data-magellan-expedition="fixed">
            <div class="table-responsive" id="ListSaveCashWarning">
                @{ Html.RenderAction("ReportPOManage03CDGet", "Accounting", new { @Area = "CFMBranch" }); }
            </div>
        </div>
    </div>
</div>

<script>
    filter.initDateRange(filterConfig.dateRangeOne, null, null, 'right');

    $("#ListReportType").val("03CD");
</script>