@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/Images/img/CFM.ico">
    @System.Web.Optimization.Styles.Render("~/pub/StyleError")
    <title>Thông báo lỗi</title>
</head>
<body style="background: black; color: burlywood;">
    <div class="error-wrapper">
        <div class="container text-center">
            <h1>Thật đáng tiếc</h1>
            <p>Trang bạn đang cố gắng truy cập hiện không tồn tại...!</p>
            <p class=" mb20">Xin vui lòng nhấp vào link bên dưới để báo cáo cho Bộ phận Quản trị của Chúng tôi, về sự sai xót này. Xin chân thành cảm ơn!</p>
            <div class="row">
                <div class="col-md-12">
                    <a href="#">Báo cáo cho bộ phận Quản trị!</a>
                </div>
            </div>
            <br />
            <a href="javascript:void(0)">Quay  lại Trang chủ</a>
        </div>
    </div>
</body>
</html>
