@model Cfm.Web.Mvc.Areas.CFMDistrict.Models.ViewModels.CD03HeaderViewModel

@{
    Layout = "~/Areas/CFMDistrict/Views/Shared/_Layout.cshtml";
    int reportID = 0;
}
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home", new{Area = "CFMDistrict"})">Trang chủ</a></li>
    <li class="active">Quản trị 03-CĐ</li>
</ol>

<div class="alert alert-info padding10">
    <div class="filter-bar">
        <div class="row ">
            <div class="filter-bar">
                <div class="row ">
                    <div class="col-sm-4 padding0">
                        <div class="date-picker-wrap padding0">
                            <div class="col-sm-5 p20">
                                <label>Từ ngày đến ngày</label>
                            </div>
                            <div class="col-sm-7 padding10">
                                <input class="form-control" name="from-date" id="txtDateRange" placeholder="Từ ngày - Đến ngày" type="text" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 padding0">
                        <div class="date-picker-wrap padding0">
                            <div class="col-sm-4 mt20">
                                <label>Trạng thái</label>
                            </div>
                            <div class="col-sm-6 mt10 padding0">
                                @Html.DropDownListFor(x => x.ReportStatus, (IEnumerable<SelectListItem>)ViewBag.ListReportStatus, new { @class = "form-control", @id = "cboReportStatus" })
                            </div>
                            <div class="col-sm-2 ">
                                <button id="search_key" onclick="ReportCD_Process.Load03ReportManage(0,1)" name="search_key" class="btn btn-pns btn-cons  mt10" type="button"><i class="fa fa-fw fa-search"></i> Lọc dữ liệu</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="padding10 alert alert-info">
    <div class="container-fluid padding0">

        <div class="table-responsive" id="tblReport">
            @{ Html.RenderAction("Report03CDManageGet", "Accounting", new { @Area = "CFMDistrict" }); }
        </div>

    </div>
</div>

<script>
    filter.initDateRange(filterConfig.dateRange, null, null, 'right');
</script>

