
@model Cfm.Web.Mvc.Areas.CFMCounter.Models.ViewModel.CD04HeaderViewModel
@{
    Layout = "~/Areas/CFMDistrict/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home", new{Area = "CFMDistrict"})">Trang chủ</a></li>
    <li class="active">Đánh giá chất lượng toàn Huyện</li>
</ol>

<div class="alert alert-info padding10">
    <div class="filter-bar">
        <div class="row ">
            <div class="filter-bar">
                <div class="row ">

                    <div class="col-sm-5 ml10">
                        <div class="form-group">
                            <label for="PoCode">Bưu cục</label>
                            <div class="input-group">
                                @Html.HiddenFor(x => x.PoId)
                                @Html.TextBoxFor(x => x.PoCode, new { @class = "form-control", @id = "txtPoCode", @placeholder = "Mã BC", @style = "width:100px;" })
                                <span class="input-group-btn" style="width:100%;">
                                    @Html.TextBoxFor(x => x.PoName, new { @class = "form-control", @id = "txtPoName", @readonly = "readonly", @placeholder = "Tên bưu cục", @style = "border-left:none;" })
                                </span>
                                <span class="input-group-btn">
                                    <a title="Chọn bưu cục" class="btn btn-pns" onclick="ReportCD_Process.ViewListPO('ReportCD_Process.SelectPoStandard','0','','',0,true,false,false,false)">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 ml10">
                        <div class="form-group">
                            <label>Từ ngày đến ngày</label>
                            <div class="date-picker-wrap">
                                <input class="form-control" name="from-date" id="txtDateRange" placeholder="Từ ngày - Đến ngày" type="text" readonly="readonly">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2 ml10">
                        <button id="search_key" onclick="ReportCD_Process.LoadReviewQualityPO(0, 1)" name="search_key" class="btn btn-pns btn-cons mt17" type="button"><i class="fa fa-fw fa-search"></i> Đánh giá</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="padding10 alert alert-info">
    <div class="container-fluid padding0">
        <div class="table-responsive" id="tblReport">
            @{ Html.RenderAction("ReviewQualityPOGet", "Accounting", new { @Area = "CFMDistrict" }); }
        </div>
    </div>
</div>

<script>
    filter.initDateRange(filterConfig.dateRange, null, null, 'right');
    $(document).ready(function () {
        $('#txtPoCode').change(function () {
            $('#txtPoName').val('');
            $('input[name="PoId"]').val('0');
        });
    });
</script>



