@{
    Layout = null;
}
<div style="background-color:#313e3e; color:#fff; text-align:center; height:100%; padding:10px 0px;">
    <h1>Thật đáng tiếc</h1>
    <p>Bạn không có quyền truy cập vào chức năng này!</p>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <a style="color:#008eff;" href="@Url.Action("Login", "User", new { Area = "Admin" })">Đăng nhập lại</a>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <a style="color:#008eff;" href="/">Quay  lại Trang chủ</a>
            </div>
        </div>
    </div>
</div>


