
@model Cfm.Web.Mvc.Areas.CFMCounter.Models.ViewModel.CD04HeaderViewModel
@{
    Layout = "~/Areas/CFMCounter/Views/Shared/_Layout.cshtml";
    int reportID = 0;
}
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home", new{Area = "Admin"})">Trang chủ</a></li>
    <li class="active">Quản lý báo cáo 04-CĐ</li>
</ol>

<div class="alert alert-info padding10">
    <div class="filter-bar">
        <div class="row ">
            <div class="filter-bar">
                <div class="row ">
                    <div class="col-sm-4 padding0">
                        <div class="date-picker-wrap padding0">
                            <div class="col-sm-5 p20">
                                <label>Từ ngày đến ngày</label>
                            </div>
                            <div class="col-sm-7 padding10">
                                <input class="form-control" name="from-date" id="txtDateRange" placeholder="Từ ngày - Đến ngày" type="text" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 padding0">
                        <div class="date-picker-wrap padding0">
                            <div class="col-sm-4 mt20">
                                <label>Trạng thái</label>
                            </div>
                            <div class="col-sm-6 mt10 padding0">
                                @Html.DropDownListFor(x => x.ReportStatus, (IEnumerable<SelectListItem>)ViewBag.ListReportStatus, new { @class = "form-control", @id = "cboReportStatus" })
                            </div>
                            <div class="col-sm-2 ">
                                <button id="search_key" onclick="ReportCD_Process.LoadReportManage(0,1)" name="search_key" class="btn btn-pns btn-cons  mt10" type="button"><i class="fa fa-fw fa-search"></i> Lọc dữ liệu</button>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>

            @*<div class="col-md-4">
                    <button id="get_report_data" onclick="ReportCD_Process.GetReportData(@reportID,'N')" name="get_report_data" class="btn btn-pns btn-cons mt17 btn-sm" type="button"><i class="fa fa-fw fa-list-ul"></i> Hiển thị dữ liệu</button>
                    <button id="get_push_data" onclick="ReportCD_Process.GetReportData(@reportID,'Y')" name="get_push_data" class="btn btn-pns btn-cons mt17 btn-sm" type="button"><i class="fa fa-fw fa-arrow-down"></i> Lấy lại dữ liệu đẩy</button>
                </div>*@
            @*<div class="col-md-3">

                    <button id="search_key" onclick="" name="search_key" class="btn btn-pns btn-cons mt17 btn-sm" type="button"><i class="fa fa-fw fa-search"></i> Lấy lại dữ liệu đẩy</button>
                </div>*@
        </div>
    </div>
</div>
<div class="padding10 alert alert-info">
    <div class="container-fluid padding0">

        <div class="table-responsive" id="tblReport">
            @{ Html.RenderAction("Report04CDManageGet", "Accounting", new { @Area = "CFMCounter" }); }
        </div>
       
        @*<div class="container-fluid padding0">
                <button id="report04cdsummary" onclick="" name="search_key" class="btn btn-pns btn-cons btn-sm" type="button"><i class="fa fa-fw fa-book"></i> Xem 04-CĐ TH</button>
                <button id="report04cddetail" onclick="" name="search_key" class="btn btn-pns btn-cons btn-sm" type="button"><i class="fa fa-fw fa-book"></i> Xem 04-CĐ CT</button>

                <button id="report04cdupdate" onclick="common.Submitform('fUpdateReportCD')" name="search_key" class="btn btn-pns btn-cons btn-sm btn-dock-right" type="button"><i class="fa fa-fw fa-pencil"></i>  Sửa</button>
            </div>*@



    </div>
</div>

<script>
    filter.initDateRange(filterConfig.dateRange, null, null, 'right');
</script>
