@model List<Cfm.Web.Mvc.Areas.Admin.Models.ReportListViewModel>
@{Layout = "~/Areas/CFMDistrict/Views/Shared/_Layout.cshtml"; }
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home", new{Area = "CFMDistrict"})">Trang chủ</a></li>
    <li class="active">Nghiệp vụ hỗ trợ BĐH</li>
</ol>
<div class="row">
    <div class="col-xs-3">
        <a class="info-tiles tiles-cfm has-footer" href="@Url.Action("FundLimitsManage", "AccountingEntry", new { Area = "CFMDistrict" })">
            <div class="tiles-body">
                <div class="text-center">
                    <i class="fa fa-user fa-2x"></i>
                </div>
            </div>
            <div class="tiles-footer">
                <div class="pull-left percent-change">
                    Hạn mức lưu quỹ tiền mặt
                </div>
            </div>
        </a>
    </div>
   
    <div class="col-xs-3">
        <a class="info-tiles tiles-cfm has-footer" href="@Url.Action("SaveCashWarning","Accounting",new { Area = "CFMDistrict"})">
            <div class="tiles-body">
                <div class="text-center">
                    <i class="fa fa-user fa-2x"></i>
                </div>
            </div>
            <div class="tiles-footer">
                <div class="pull-left percent-change">
                    Cảnh báo lưu quỹ vượt hạn mức
                </div>
            </div>
        </a>
    </div>

    <div class="col-xs-3">
        <a class="info-tiles tiles-cfm has-footer" href="@Url.Action("FundRequiredManage","AccountingEntry",new { Area = "CFMCounter"})">
            <div class="tiles-body">
                <div class="text-center">
                    <i class="fa fa-user fa-2x"></i>
                </div>
            </div>
            <div class="tiles-footer">
                <div class="pull-left percent-change">
                    Nhu cầu tiếp quỹ BĐH
                </div>
            </div>
        </a>
    </div>  

</div>


