@using Cfm.Web.Common
@model List<Cfm.Web.Mvc.Areas.CFMCounter.Models.ViewModel.InfomationNotifiViewModels>
@{
    Layout = null;
}
<ul class="list-group">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <li class="list-group-item">
                <i class="fa fa-check fa-fw"></i><strong>Số dư đầu ngày : @item.OpeningAmount.ToString("N0", new System.Globalization.CultureInfo("de-DE"))</strong>
            </li>
            <li class="list-group-item pl50">
                - Tại bưu cục : <strong>@item.OpeningAmountPo.ToString("N0", new System.Globalization.CultureInfo("de-DE"))</strong>
            </li>
            <li class="list-group-item pl50">
                - Tại điểm bán hàng : <strong>@item.OpeningAmountSpo.ToString("N0", new System.Globalization.CultureInfo("de-DE"))</strong>
            </li>
        }
    }
</ul>