@using Cfm.Web.Common
@model List<Cfm.Web.Mvc.Areas.CFMCounter.Models.ViewModel.InfomationNotifiViewModels>
@{
    Layout = null;
}
<ul class="list-group">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <li class="list-group-item">
                <a href="#" id="a_css">
                    <i class="fa fa-check" aria-hidden="true"></i> <strong>Số dư đầu ngày :</strong> @item.OpeningAmount
                </a>
            </li>
            <li class="list-group-item">
                <a href="#" id="a_css">
                    <i class="fa fa-check" aria-hidden="true"></i> <strong>Phát hành trong ngày :</strong> @item.ReceipAmount
                </a>
            </li>
            <li class="list-group-item">
                <a href="#" id="a_css">
                    <i class="fa fa-check" aria-hidden="true"></i> <strong>Trả trong ngày :</strong> @item.PaymentAmount
                </a>
            </li>
            <li class="list-group-item">
                <a href="#" id="a_css">
                    <i class="fa fa-check" aria-hidden="true"></i> <strong>Số dư cuối ngày :</strong> @item.ClosingAmount
                </a>
            </li>
        }
    }
    else
    {
        <li class="list-group-item">
            Không tìm thấy dữ liệu...
        </li>
    }
</ul>